.carousel img {
    object-fit: cover;
  }

  .carousel .slide {
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    width: 150px;
    height: 600px;
  }
  
  /* Reduce the size of thumbs */
  /* .carousel .thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 10px solid #ccc;
  } */
  
  /* Example CSS for adding a zoom-in effect on image hover */
  .carousel img:hover {
    transform: scale(1.5); /* Zoom in the image */
  }
  
  /* Example CSS for adding a fade-in/out transition */
  .carousel .slide {
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    width: 150px;
    height: 600px;
  }
  
  .carousel .slide.selected {
    opacity: 1; /* Fade in the selected slide */
  }
  
  /* Example CSS for adding an image caption */
  .carousel .legend {
    /* background-color: rgba(0, 0, 0, 0.7); Background color for the caption */
    color: #000; /* Caption text color */
    padding: 10px; /* Padding for the caption */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }